@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:ital,wght@1,200&display=swap');

body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1e1e2A;

}

/*HEADER */



header {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 150px;
}

.header2 {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    padding: 0px;

}

.logo {
    width: 100px;
    height: 100px;
}

.caixa {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    font-weight: bold;
    margin-left: 20px;
    height: 40px;
}

.menu ul li:hover {
    border-bottom: 3px solid #2A7AE4;
}

.menu ul li a:hover {
    color: #2A7AE4;
}

.menu ul li a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
}

.menu {
    width: 100%;
    float: center;
    padding: 2px;
}

.menu-urls {
    border-bottom: 3px solid rgb(226, 226, 226);
    height: 70px;
}

.header-container {

    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}

.header__intro__links {

    list-style: none;
    justify-content: space-between;
    font-size: .8em;
}

.header__intro__links__link {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--detalhes);
}

a:hover {
    background-color: #9ea9fa;


}

main {


    width: 100%;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 4;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 4;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.principal {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
}

.sobre {
    float: left;
    width: 100%;
    background-color: #e4edf7;

}

.sobre-mim {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 1000px;
    margin: 0 20px 20px 0;
    position: relative;
    right: 50;

}

section {
    background-color: #fffff2;
}

.subtitulo {
    line-height: 1;
    font-size: 20px;

}

p {
    padding: 5px;
    font-size: 1em;
    padding-bottom: 15px;
    line-height: 1.4;
}

.hobbies {
    padding: 20px;
    clear: left;

}

.hobbies li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.soft-skills {
    line-height: 1;
    padding: 15px;
}

.soft-skills li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}


.formações {
    background-color: transparent;
    display: inline-block;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.formação {
    overflow: hidden;
    text-align: center;
    width: 160px;
    height: 100px;
    flex-direction: column;
    vertical-align: top;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    margin: 10px;
    border-radius: 10px;
}

.formação div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}


.formação1 {
    width: 40px;
    height: 70px;
}

.paragrafo {
    font-size: 12px;
}

.footer {
    text-align: center;
    background-color: #000000;
    font-size: 16px;
    color: rgb(76, 0, 255);
    bottom: 0;
    width: 100%;
    height: 100%;

}


@media screen and (max-width: 480px) {
    .principal {
        font-size: 20px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .subtitulo {
        font-size: 16px;
        padding: 8px;

    }

    .sobre-mim {
        width: 30%;
        height: 30%;
    }

    .soft-skills li,
    .hobbies li {
        font-size: 10px;
        text-align: center;
        margin: 0 5%;
        width: 50%;
        padding: 10px;

    }

    .imagem {
        width: 50px;
        height: 50px;

    }

    .formação li {
        margin: 0 5%;
        text-align: center;
        font-size: 10px;
        width: 30%;
        padding: 5px;

    }

    .header-container {
        padding: 0;
    }

    nav a {
        font-size: 10px;
        margin: 0 0 0 px;
        text-align: right;
    }

    .paragrafo {
        font-size: 5px;
    }

    .menu ul li {
        display: inline-block;
        color: #8b8b8b;
        font-weight: bold;
        margin-left: 5px;
        height: 15px;
    }

    .menu ul li:hover {
        border-bottom: 3px solid #2A7AE4;
    }

    .menu ul li a:hover {
        color: #2A7AE4;
    }

    .menu ul li a {
        color: #c4c4c4;
        text-decoration: none;
        font-size: 10px;
    }

    .menu {
        width: 50%;
        float: center;
        padding: 2px;
    }

    .menu-urls {
        border-bottom: 3px solid rgb(226, 226, 226);
        height: 70px;
    }

    .header2 {
        background-color: transparent;


    }
}